.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  form{
    background-color: rgb(255, 192, 216);
    padding: 50px 10px 10px 10px;
  }

}